

.box {
    background-color: rgb(100,200,0);
}

.main-view {
    background-color: #CCCCCC;
    color: blue;
}

.red {
    background-color: red;
}

uiview {
    background-color: white;
}

uilabel {
   background-color: orange;
}